# Some Windows related stuff that needs not to be here
Thumbs.db
Desktop.ini
*.exe
*.dll

# Logging stuff
[Ll]ogs/

# Build system ignores
[Bb]inaries/
[Bb]inariesDebug/
[Bb]in/
[Oo]bj/
[Ii]ntermediate/
[Ss]ource/[Pp]ackages/
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.CodeAnalysisLog.*
*.lastcodeanalysissucceeded
*.manifest
